In [108]:
import pandas as pd

In [109]:
datos_brutos = pd.read_csv("datos_apartamentos_rent.csv", encoding="latin-1", sep=";")
datos_brutos.head()

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668626895,housing/rent/apartment,"Studio apartment 2nd St NE, Uhland Terrace NE,...","This unit is located at second St NE, Uhland T...",NaN,NaN,0.0,USD,No,Thumbnail,...,$ 790,Monthly,101,NaN,Washington,DC,"38,9057","-76,9861",RentLingo,1577359415
1,5664597177,housing/rent/apartment,Studio apartment 814 Schutte Road,"This unit is located at 814 Schutte Road, Evan...",NaN,NaN,1.0,USD,No,Thumbnail,...,$ 425,Monthly,106,814 Schutte Rd,Evansville,IN,"37,968","-87,6621",RentLingo,1577017063
2,5668626833,housing/rent/apartment,"Studio apartment N Scott St, 14th St N, Arling...","This unit is located at N Scott St, 14th St N,...",NaN,1,0.0,USD,No,Thumbnail,...,$ 1.390,Monthly,107,NaN,Arlington,VA,"38,891","-77,0816",RentLingo,1577359410
3,5659918074,housing/rent/apartment,Studio apartment 1717 12th Ave,"This unit is located at 1717 12th Ave, Seattle...",NaN,1,0.0,USD,No,Thumbnail,...,$ 925,Monthly,116,1717 12th Avenue,Seattle,WA,"47,616","-122,3275",RentLingo,1576667743
4,5668626759,housing/rent/apartment,"Studio apartment Washington Blvd, N Cleveland ...","This unit is located at Washington Blvd, N Cle...",NaN,NaN,0.0,USD,No,Thumbnail,...,$ 880,Monthly,125,NaN,Arlington,VA,"38,8738","-77,1055",RentLingo,1577359401

In [110]:
datos_limpios=pd.read_csv("datos_limpios.csv", encoding="latin-1", sep=";")
datos_limpios.head()

,id,bathrooms,bedrooms,price,square_feet,cityname,state,latitude,longitude,time,...,source_Listanza,source_ListedBuy,source_RENTCafÃ©,source_RENTOCULAR,source_Real Estate Agent,source_RealRentals,source_RentDigs.com,source_RentLingo,source_rentbits,source_tenantcloud
0,5668626895,1,0,790,101,1468,7,"38,9057","-76,9861",1577359415,...,0,0,0,0,0,0,0,1,0,0
1,5664597177,1,1,425,106,449,15,"37,968","-87,6621",1577017063,...,0,0,0,0,0,0,0,1,0,0
2,5668626833,1,0,1390,107,52,45,"38,891","-77,0816",1577359410,...,0,0,0,0,0,0,0,1,0,0
3,5659918074,1,0,925,116,1285,47,"47,616","-122,3275",1576667743,...,0,0,0,0,0,0,0,1,0,0
4,5668626759,1,0,880,125,52,45,"38,8738","-77,1055",1577359401,...,0,0,0,0,0,0,0,1,0,0

In [111]:
datos_finales=pd.DataFrame()

In [112]:
datos_finales['Mascotas_permitidas'] = datos_brutos['pets_allowed']
datos_finales["Mascotas_permitidas"] = datos_finales["Mascotas_permitidas"].fillna("Ninguno")

In [113]:
# Crear un diccionario con Ã­ndices Ãºnicos
unique_types = {tipo: idx for idx, tipo in enumerate(datos_finales["Mascotas_permitidas"].unique())}
# Aplicar la codificaciÃ³n
datos_finales["Codificacion_Mascotas_Permitidas"] = datos_finales["Mascotas_permitidas"].map(unique_types)

In [114]:
datos_finales.head(259)

    Mascotas_permitidas  Codificacion_Mascotas_Permitidas
0               Ninguno                                 0
1               Ninguno                                 0
2               Ninguno                                 0
3               Ninguno                                 0
4               Ninguno                                 0
..                  ...                               ...
254             Ninguno                                 0
255             Ninguno                                 0
256                Cats                                 2
257                Dogs                                 3
258           Cats,Dogs                                 1

[259 rows x 2 columns]

In [115]:
valores_unicos=datos_brutos["source"].unique()
valores_unicos

array(['RentLingo', 'Listanza', 'ListedBuy', 'RentDigs.com', 'GoSection8',
       'RealRentals', 'RENTOCULAR', 'rentbits', 'Home Rentals',
       'Real Estate Agent', 'RENTCafÃ©', 'tenantcloud'], dtype=object)

In [116]:
datos_finales['Source'] = datos_brutos['source']
# Crear un diccionario con Ã­ndices Ãºnicos
unique_types = {tipo: idx for idx, tipo in enumerate(datos_finales["Source"].unique())}
# Aplicar la codificaciÃ³n
datos_finales["Codificacion_Source"] = datos_finales["Source"].map(unique_types)

In [117]:
datos_finales.head(259)

,Mascotas_permitidas,Codificacion_Mascotas_Permitidas,Source,Codificacion_Source
0,Ninguno,0,RentLingo,0
1,Ninguno,0,RentLingo,0
2,Ninguno,0,RentLingo,0
3,Ninguno,0,RentLingo,0
4,Ninguno,0,RentLingo,0
...,...,...,...,...
254,Ninguno,0,RentLingo,0
255,Ninguno,0,RentDigs.com,3
256,Cats,2,RentLingo,0
257,Dogs,3,RentLingo,0
258,"Cats,Dogs",1,RentLingo,0

In [118]:
datos_finales['Tiene_foto'] = datos_brutos['has_photo']
# Crear un diccionario con Ã­ndices Ãºnicos
unique_types = {tipo: idx for idx, tipo in enumerate(datos_finales["Tiene_foto"].unique())}
# Aplicar la codificaciÃ³n
datos_finales["Codificacion_Tiene_foto"] = datos_finales["Tiene_foto"].map(unique_types)
datos_finales.head(20)

,Mascotas_permitidas,Codificacion_Mascotas_Permitidas,Source,Codificacion_Source,Tiene_foto,Codificacion_Tiene_foto
0,Ninguno,0,RentLingo,0,Thumbnail,0
1,Ninguno,0,RentLingo,0,Thumbnail,0
2,Ninguno,0,RentLingo,0,Thumbnail,0
3,Ninguno,0,RentLingo,0,Thumbnail,0
4,Ninguno,0,RentLingo,0,Thumbnail,0
5,Ninguno,0,Listanza,1,Thumbnail,0
6,Ninguno,0,RentLingo,0,Thumbnail,0
7,Ninguno,0,RentLingo,0,Thumbnail,0
8,Ninguno,0,RentLingo,0,Thumbnail,0
9,Ninguno,0,RentLingo,0,Thumbnail,0
10,Ninguno,0,RentLingo,0,Thumbnail,0
11,Ninguno,0,RentLingo,0,Thumbnail,0
12,"Cats,Dogs",1,RentLingo,0,Thumbnail,0
13,Ninguno,0,RentLingo,0,Thumbnail,0
14,Ninguno,0,RentLingo,0,Thumbnail,0
15,"Cats,Dogs",1,ListedBuy,2,Thumbnail,0
16,"Cats,Dogs",1,RentDigs.com,3,Thumbnail,0
17,Ninguno,0,RentLingo,0,Thumbnail,0
18,Ninguno,0,RentLingo,0,Thumbnail,0
19,Ninguno,0,RentLingo,0,Thumbnail,0

In [119]:
datos_finales['Categoria'] = datos_brutos['category']
# Crear un diccionario con Ã­ndices Ãºnicos
unique_types = {tipo: idx for idx, tipo in enumerate(datos_finales["Categoria"].unique())}
# Aplicar la codificaciÃ³n
datos_finales["Codificacion_Categoria"] = datos_finales["Categoria"].map(unique_types)
datos_finales.head(10)

,Mascotas_permitidas,Codificacion_Mascotas_Permitidas,Source,Codificacion_Source,Tiene_foto,Codificacion_Tiene_foto,Categoria,Codificacion_Categoria
0,Ninguno,0,RentLingo,0,Thumbnail,0,housing/rent/apartment,0
1,Ninguno,0,RentLingo,0,Thumbnail,0,housing/rent/apartment,0
2,Ninguno,0,RentLingo,0,Thumbnail,0,housing/rent/apartment,0
3,Ninguno,0,RentLingo,0,Thumbnail,0,housing/rent/apartment,0
4,Ninguno,0,RentLingo,0,Thumbnail,0,housing/rent/apartment,0
5,Ninguno,0,Listanza,1,Thumbnail,0,housing/rent/apartment,0
6,Ninguno,0,RentLingo,0,Thumbnail,0,housing/rent/apartment,0
7,Ninguno,0,RentLingo,0,Thumbnail,0,housing/rent/apartment,0
8,Ninguno,0,RentLingo,0,Thumbnail,0,housing/rent/apartment,0
9,Ninguno,0,RentLingo,0,Thumbnail,0,housing/rent/apartment,0

In [120]:
datos_finales = datos_finales.drop(columns=["Mascotas_permitidas", "Source", "Tiene_foto","Categoria"])

In [121]:
datos_finales[["amenities_count", "state", "cityname","square_feet","price","bedrooms"]]=datos_limpios[["amenities_count", "state", "cityname","square_feet","price","bedrooms"]]

In [126]:
datos_finales["bathrooms"] = datos_limpios["bathrooms"].str.replace(",", ".").astype(float)

In [127]:
datos_finales.head()

,Codificacion_Mascotas_Permitidas,Codificacion_Source,Codificacion_Tiene_foto,Codificacion_Categoria,amenities_count,state,cityname,square_feet,price,bedrooms,intercept,bathrooms
0,0,0,0,0,0,7,1468,101,790,0,1,1.0
1,0,0,0,0,0,15,449,106,425,1,1,1.0
2,0,0,0,0,0,45,52,107,1390,0,1,1.0
3,0,0,0,0,0,47,1285,116,925,0,1,1.0
4,0,0,0,0,0,45,52,125,880,0,1,1.0

In [145]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
datos_finales_scaled = pd.DataFrame(scaler.fit_transform(datos_finales), columns=datos_finales.columns)

In [146]:
datos_finales_scaled

,Codificacion_Mascotas_Permitidas,Codificacion_Source,Codificacion_Tiene_foto,Codificacion_Categoria,amenities_count,state,cityname,square_feet,price,bedrooms,intercept,bathrooms
0,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.272000,1.634851,-1.855932,-0.905639,-1.851590,0.0,-0.616936
1,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-0.751656,-0.595429,-1.844690,-1.410687,-0.790020,0.0,-0.616936
2,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,1.199633,-1.464340,-1.842442,-0.075422,-1.851590,0.0,-0.616936
3,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,1.329719,1.234320,-1.822206,-0.718840,-1.851590,0.0,-0.616936
4,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,1.199633,-1.464340,-1.801970,-0.781106,-1.851590,0.0,-0.616936
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-0.231312,-0.672033,3.432300,3.443314,3.456259,0.0,4.263246
9996,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.467129,0.437635,3.432300,3.443314,4.517828,0.0,10.770155
9997,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-0.426441,0.912582,3.432300,3.443314,4.517828,0.0,11.583518
9998,-1.043053,0.049899,-0.331724,-0.018977,2.008923,0.484160,0.566768,3.432300,3.443314,-0.790020,0.0,-0.616936
9999,-1.043053,1.455509,4.863647,-0.018977,-0.324592,-1.076871,0.052425,-0.104430,-0.602609,-0.790020,0.0,-0.616936

In [147]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Agregar una columna de unos (intercepto)
datos_finales_scaled["intercept"] = 1  

# Calcular VIF para cada variable
vif_data = pd.DataFrame()
vif_data["Variable"] = datos_finales_scaled.columns
vif_data["VIF"] = [variance_inflation_factor(datos_finales_scaled.values, i) for i in range(datos_finales_scaled.shape[1])]

print(vif_data)

                            Variable       VIF
0   Codificacion_Mascotas_Permitidas  1.098004
1                Codificacion_Source  1.453614
2            Codificacion_Tiene_foto  1.317207
3             Codificacion_Categoria  1.001490
4                    amenities_count  1.115398
5                              state  1.073613
6                           cityname  1.014964
7                        square_feet  3.598629
8                              price  1.413998
9                           bedrooms  2.613247
10                         intercept  1.000000
11                         bathrooms  2.872177

In [149]:
datos_finales_scaled.head(30)

,Codificacion_Mascotas_Permitidas,Codificacion_Source,Codificacion_Tiene_foto,Codificacion_Categoria,amenities_count,state,cityname,square_feet,price,bedrooms,intercept,bathrooms
0,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.272000,1.634851,-1.855932,-0.905639,-1.85159,1,-0.616936
1,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-0.751656,-0.595429,-1.844690,-1.410687,-0.79002,1,-0.616936
2,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,1.199633,-1.464340,-1.842442,-0.075422,-1.85159,1,-0.616936
3,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,1.329719,1.234320,-1.822206,-0.718840,-1.85159,1,-0.616936
4,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,1.199633,-1.464340,-1.801970,-0.781106,-1.85159,1,-0.616936
5,-1.043053,0.049899,-0.331724,-0.018977,0.550476,0.484160,0.218765,-1.790728,1.425887,-1.85159,1,-0.616936
6,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.467129,1.586699,-1.786232,0.491893,-1.85159,1,-0.616936
7,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.272000,1.634851,-1.777238,-0.836454,-1.85159,1,-0.616936
8,-1.043053,-0.652906,-0.331724,-0.018977,-0.616281,-1.467129,1.151149,-1.772741,0.069866,-1.85159,1,-0.616936
9,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.272000,1.634851,-1.765996,-0.767269,-1.85159,1,-0.616936
10,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.272000,1.634851,-1.754754,-0.628900,-1.85159,1,-0.616936
11,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.272000,1.634851,-1.745761,-0.836454,-1.85159,1,-0.616936
12,0.544547,-0.652906,-0.331724,-0.018977,-0.907971,-1.532172,1.525416,-1.732270,0.484975,-0.79002,1,-0.616936
13,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.272000,1.634851,-1.682805,-0.490530,-1.85159,1,-0.616936
14,-1.043053,-0.652906,-0.331724,-0.018977,-0.616281,-1.467129,1.151149,-1.655825,0.346605,-1.85159,1,-0.616936
15,0.544547,0.752704,-0.331724,-0.018977,1.425544,0.028860,0.536126,-1.633341,3.443314,-0.79002,1,-0.616936
16,0.544547,1.455509,-0.331724,-0.018977,1.425544,0.028860,0.536126,-1.633341,0.159806,-0.79002,1,-0.616936
17,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,1.069547,1.356887,-1.633341,-0.615063,-0.79002,1,-0.616936
18,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.467129,1.569190,-1.633341,-0.684247,-0.79002,1,-0.616936
19,-1.043053,-0.652906,-0.331724,-0.018977,-0.616281,-1.076871,0.249407,-1.633341,-1.133948,-0.79002,1,-0.616936
20,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,0.028860,-1.013469,-1.633341,-1.168541,-0.79002,1,-0.616936
21,-1.043053,-0.652906,-0.331724,-0.018977,1.133855,-1.141914,1.453189,-1.633341,-1.246027,-0.79002,1,-0.616936
22,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,1.069547,-1.427133,-1.633341,-1.272318,-0.79002,1,-0.616936
23,-1.043053,-0.652906,-0.331724,-0.018977,-0.616281,-1.532172,0.829411,-1.633341,-1.376095,-0.79002,1,-0.616936
24,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.141914,1.037337,-1.599615,-0.960986,-0.79002,1,-0.616936
25,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.662257,-0.000104,-1.590621,0.768632,-0.79002,1,-0.616936
26,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-1.467129,1.151149,-1.590621,-0.061585,-0.79002,1,-0.616936
27,-1.043053,-0.652906,-0.331724,-0.018977,-0.907971,-0.426441,-0.422522,-1.590621,-0.483612,-0.79002,1,-0.616936
28,-1.043053,-0.652906,-0.331724,-0.018977,-0.616281,-1.402086,0.118086,-1.590621,-0.732677,-0.79002,1,-0.616936
29,-1.043053,-0.652906,-0.331724,-0.018977,-0.616281,-0.426441,1.617341,-1.590621,-0.753432,-0.79002,1,-0.616936